*{
    margin: 0;
    padding: 0;
    background-color: rosybrown;
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
header{
    display:flex;
    flex-grow: auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #ff5733;
    padding: 10px;
}  
main{
    padding:10px;
    flex-grow: 8;
}
footer{
    display: flex;
    flex-grow: 2;
    justify-content: center;
}
    footer p{
        margin-left: 10px;
}
header{
    padding: 20px;
    
}