* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.hello {
    background-color: #333;
    padding: 10px 0;
}

.hello ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.hello h {
    margin: 0 20px;
}

.hello a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.content {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    gap: 20px;
    justify-content: center;
}

.card {
    width: 200px;
    height: 200px;
    background-color: #4CAF50;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
    position: fixed;
    width: 100%;
    bottom: 0;
}


.hey{
    font-size: 5em;
}

.hello{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}